.app_black_theme {
  --bg-color: #1A1A1A;
  --inverted-bg-color: #F8F7F7;
  --primary-color: #F8F7F7;
  --secondary-color: #000000;
  --inverted-primary-color: #1A1A1A;
  --inverted-secondary-color: #1A1A1A;
}
