.app_black_theme {
  --bg-color: #1a1a1a;
  --inverted-bg-color: #f8f7f7;
  --primary-color: #f8f7f7;
  --secondary-color: #000;
  --inverted-primary-color: #1a1a1a;
  --inverted-secondary-color: #1a1a1a;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 2000%);
}
